.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.content ul {
  display: flex;
  margin-right: 2rem;
}

.content ul li:hover {
  text-decoration: underline;
}